Source: drupal-drizzle
Section: devel
Priority: optional
Maintainer: Joshua Waihi <>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: drupal-drizzle
Architecture: all
Depends: ${misc:Depends}, php5-cli
Description: A command line interactive interface to work with 
 Drupal and building Drupal modules faster.
